h1{
	margin: 1vw 3vw 1vw 3vw;
}
button{
	display: inline-block;
	background-color: #008B96;
	color: white;
	margin: 1vw 0 1vw 4vw;
	padding: 0.5vw;
	border: 1px solid black;
	border-radius: 5px;
}
button:hover{
	background-color: #00d2d2;
}
.textInput{
	margin: 1vw 3vw 1vw 3vw;
	width: 30%;
}
.rButton{
	margin: 1vw 0 1vw 3vw;
}